<div *ngIf="cookie && !cookie.get('isLog')" class="login">
  <h2>Sign in</h2>
  <div>
    <label>login: 
    <input [(ngModel)]="login">
    </label>
  </div>
  <div>
    <label>password: 
    <input [(ngModel)]="password" type="password">
    </label>
  </div>

  <button (click)="tryLog()">Log in</button>
</div>
<div *ngIf="cookie && cookie.get('isLog')" class="ok">
  <h2>You are in, {{cookie.get('userName')}}.
  <button (click)="logOut()" class="logout">Log out</button>
  </h2>
</div>