﻿button{
    horizontal-align: center;    
}

button {
    font-size: 16;
}

.title {
    font-size: 16;
    margin: 20;
}

.message {
    font-size: 14;
    color: #284848;
    text-align: center;
    margin: 0 20;
} 


.pos{
    max-width: 400px;
    height: 80px;
    text-align: right;
}

.even{
    background-color: greenyellow;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(http://fonts.gstatic.com/s/materialicons/v17/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-size: 24px;
  color: white;
  border-radius: 100;
  background-color: red;
  horizontal-align: right; 
  position: fixed;
  vertical-align: bottom;
  margin: 15px;
  padding: 10px;
  z-index: 999;
}