<ActionBar title="Logowanie dla lekarzy" style="background-color: limegreen"></ActionBar>
<StackLayout>
    <Label text="Identyfikator lekarza"></Label>
    <TextField hint="np. 1a344b9" [(ngModel)]='id'></TextField>
    <Label text="Hasło dostępu"></Label>
    <TextField hint="Hasło" secure="true" [(ngModel)]="password"></TextField>
    <Button text="Zaloguj się" (tap)="tryLogIn()"></Button>
    <Label lines="3" text="Logujac się od aplikacji potwierdzasz swoja tożsamość. Jeśli wiele osób korzysta z urzadzenia zalecamy wylogowanie się po zakończeniu korzystania."></Label>
</StackLayout>