<ActionBar title="Przypisane wizyty" style="background-color: orange">
    <ActionItem (tap)="logOut()" ios.systemIcon="16" ios.position="right" text="Wyloguj się" android.position="popup"></ActionItem>
</ActionBar>
<StackLayout>
    <ScrollView height="85%" *ngIf="list && list.length>0">
        <ListView id="myList" [items]="list" (itemTap)="listViewItemTap($event)" (longPress)="listViewItemLongPress($event)">
            <template let-item="item" let-i="index" even="even">
                <StackLayout>
                    <Label [text]='item.date + ", od " + item.hour1 + " do " + item.hour2'></Label>
                    <Label [text]='item.city + ", " + item.doctor_specjalizacja'></Label>
                    <StackLayout *ngFor="let res of docreservation">
                        <Label *ngIf="res.Visit._id===item._id" style="background-color: yellow" text="Zarezerwowane przez: {{res.User.name}}"></Label>
                    </StackLayout>
                </StackLayout>
            </template>
        </ListView>
    </ScrollView>
    <Button (tap)="addNew()" class="material-icons" text="+" width="55" height="55"></Button>
    
    <Label *ngIf="list.length===0" text="Brak wizyt. Dodaj nowa"></Label>
</StackLayout>