<ActionBar title="Szczegóły wizyty" style="background-color: skyblue"></ActionBar>
<StackLayout *ngIf="visit">
    <Label text="Data: {{visit.date}}"></Label>
    <Label text="Godzina: {{visit.hour1}}"></Label>
    <Label text="Planowana godzina zakończenia: {{visit.hour2}}"></Label>
    <Label text="Miejscowość: {{visit.city}}"></Label>
    <Label text="Moja specjalizacja: {{visit.doctor_specjalizacja}}"></Label>
    <StackLayout *ngIf="reservation" style="background-color: Aquamarine">
        <Label text="Zarezerwowane przez:" style="font-size:18px"></Label>
        <Label text="{{reservation.User.name}}"></Label>
        <Label text="Powód: {{reservation.reason}}"></Label>
    </StackLayout>

    <button text="Powrót" (tap)="back()"></button>

</StackLayout>