<ActionBar title="Rezerwacja: Miejscowość" class="reserwationBar"></ActionBar>
<StackLayout *ngIf="lista && lista.length>0" class="new">
    <Button class="usingParam" text="Pomiń ten krok" (tap)="jumpIt()"></Button>
    <ScrollView height="150">
        <ListView #radList [items]="lista" selectionBehavior="Press" multipleSelection="true" (itemTap)="listViewItemTap($event)"></ListView>
    </ScrollView>

    <label *ngIf="wybor && wybor.length>0" text="Wybrano {{wybor.length}} miast(a)."></label>
    <button *ngIf="wybor && wybor.length>0" class="backBut" text="Wyczyść wybrane" (tap)="clear()"></button>
    <Button class="nextBut" (tap)="next()" text="Next"></Button>
</StackLayout>

<StackLayout *ngIf="lista && lista.length===0">
    <label text="W ustawionym okresie żaden z wybranych specjalistów nie przyjmuje wizyt."></label>
    <Button class="backBut" (tap)="back()" text="Back"></Button>
</StackLayout>

<StackLayout *ngIf="ladowanie">
    <label text="Trwa ladowanie, czekaj..."></label>
</StackLayout>