<ActionBar title="Menu główne"></ActionBar>
<StackLayout class="title">
    <Label *ngIf="name && name.length>0" text="Witaj {{name}}" style="text-align: center; font-size: 18px"></Label>
    <Button class="nextBut" text="Zerezerwuj wizyte" (tap)="jumpIt('new')"></Button>
    <Button class="nextBut" text="Podglad moich wizyt" (tap)="jumpIt('view')"></Button>
    <Button class="usingParam" (tap)="jumpIt('logout')" text="Wyloguj się"></Button>
</StackLayout>