<ActionBar title="Rezerwacja: dane ogólne" class="reserwationBar"></ActionBar>
<ScrollView class="new">
    <StackLayout class="title">
        <StackLayout *ngIf="chceSpecjalizacje">
            <label text="Wybierz specjalizację:"></label>
            <ListPicker #picker [items]="lista" [selectedIndex]="selectedIndex" (selectedIndexChange)="selectedIndexChanged(picker)"></ListPicker>
            <Button class="usingParam" text="Pomiń wybór specjalizacji" (tap)="jumpIt('s')"></Button>
        </StackLayout>
        <StackLayout *ngIf="chceSpecjalizacje===false">
            <label text="Wybrano wszystkie specjalizacje"></label>
            <Button class="usingParam" text="Wybierz jedna specjalizacje" (tap)="jumpIt('s')"></Button>
        </StackLayout>
        <label text="W okresie od dnia:"></label>
        <DatePicker [(ngModel)]="dataOD"></DatePicker>
        <StackLayout *ngIf="chceDateDO">
            <label text="do dnia:"></label>
            <DatePicker [(ngModel)]="dataDO"></DatePicker>
            <Button class="usingParam" text="Wyszukaj bez daty koncowej" (tap)="jumpIt('d2')"></Button>
        </StackLayout>
        <StackLayout *ngIf="chceDateDO===false">
            <label text="Bez określonej daty końcowej"></label>
            <Button class="usingParam" text="Dodaj datę końcowa" (tap)="jumpIt('d2')"></Button>
        </StackLayout>
        <Button class="nextBut" (tap)="next()" text="Dalej"></Button>
    </StackLayout>
</ScrollView>