<ActionBar title="Rezerwacja: Podsumowanie" class="reserwationBar"></ActionBar>
<StackLayout *ngIf="visit" class="new">
    <label class="title" text="Oto dane, jakie zebraliśmy:"></label>
    <label text="Lekarz:"></label>
    <label class="title" text={{lekarz}}></label>
    <label text="Miasto:"></label>
    <label class="title" text={{visit.city}}></label>
    <label text="Dzień wizyty:"></label>
    <label class="title" text={{visit.date}}></label>
    <label text="Godziny:"></label>
    <label class="title" text="od {{visit.hour1}} do {{visit.hour2}}"></label>
    <label text="Rezerwacja dla osoby:"></label>
    <label class="title" text={{name}}></label>

    <label text="Podaj powód wizyty (opcjonalnie):"></label>
    <TextField hight="20%" [(ngModel)]='reason'></TextField>

    <Button (tap)="cancel()" text="Coś jest nie tak, poprawię" class="backBut"></Button>
    <Button (tap)="submit()" text="OK, Zarezerwuj" class="submitBut"></Button>
</StackLayout>